# Dirs
target
__pycache__
.vscodium
/DemOpenGL/keys.py
/info.txt
/LazyFoo-SDL2
/web_canvas
/Old
/asterlike/inside

# Auto generate
/rust-lazy-foo/resources/nums.bin

# Files
Cargo.lock

/rust-lazy-foo/src/lesson35.rs