# Dirs
target
__pycache__
.vscodium
/DemOpenGL/keys.py
/info.txt
/LazyFoo-SDL2
/web_canvas
/asterlike/inside
node_modules

# Temporal
/rust-and-opengl-lessons

# Auto generate
/rust-lazy-foo/resources/nums.bin
/rust-lazy-foo/public
/web/public

# Files
Cargo.lock
